
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" id="main-header">
    <div  class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="logo" href="/">
                        <h4 class="text-white" th:text="#{alo-travel}"></h4>
                    </a>
                </div>
                <div class="col-md-5 col-md-offset-4">
                    <div class="top-user-area clearfix">
                        <ul class="top-user-area-list list list-horizontal list-border">
                            <li sec:authorize="isAuthenticated()"><a href="/logout"><span th:text="#{logout}"></span></a></li>
                            <li sec:authorize="isAnonymous()"><a href="/login"><span th:text="#{login}"></span></a></li>
                            <li sec:authorize="isAnonymous()"><a href="/signup"><span th:text="#{signup}"></span></a></li>
                            <li>
                                <select id="locales" style="background: rgb(76, 71, 71); color: white;">
                                    <option value="en" th:text="English"></option>
                                    <option value="ar" th:text="Arabic"></option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {

                var last='';
                var url=window.location.href;
                if(url.includes("?")){
                    var words = url.split("?");
                    var firstWord=words[0];
                    words=firstWord.split("/");
                    last=words[words.length -1];
                    if(last==""){
                        last="/";
                    }
                }else{
                    var words = url.split("/");
                    last=words[words.length -1];
                    if(last==""){
                        last="/";
                    }

                }


                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace(last+'?lang='+ selectedOption);
                }

            });
        });
    </script>

</header>
</html>