<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Alo-Travel - Profile</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet'
          type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>

    <link rel="stylesheet" href="css/switcher.css"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/bright-turquoise.css" title="bright-turquoise"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/turkish-rose.css" title="turkish-rose"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/salem.css" title="salem" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/hippie-blue.css" title="hippie-blue"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/mandy.css" title="mandy" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/green-smoke.css" title="green-smoke"
          media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/horizon.css" title="horizon" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/cerise.css" title="cerise" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/brick-red.css" title="brick-red" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/de-york.css" title="de-york" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/shamrock.css" title="shamrock" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/studio.css" title="studio" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/leather.css" title="leather" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/denim.css" title="denim" media="all"/>
    <link rel="alternate stylesheet" type="text/css" href="css/schemes/scarlet.css" title="scarlet" media="all"/>
</head>

<body>


<div class="global-wrap" th:object="${profile}">

    <div th:replace="~{common/header :: header}"></div>
    <div class="gap"></div>
    <div class="container">
        <div class="row">
            <div th:replace="~{common/sidnav :: sidnav}"></div>
            <div class="col-md-9">
                <div class="tabbable booking-details-tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#basic-info" data-toggle="tab">Basic Information</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="basic-info">
                            <div class="row">
                                <form action="#" th:action="@{/profile/updateProfile}"  th:object="${profile}" th:method="POST">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label th:text="#{profile.displayName}">Display Name</label>
                                            <input class="form-control" type="text" th:field="*{displayName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{email}">E-mail</label>
                                            <input class="form-control" type="text" th:field="*{email}"/>
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{PhoneNumber}">Phone Number</label>
                                            <input class="form-control" type="text" th:field="*{phone}"/>
                                        </div>
                                        <div class="form-group">
                                        </div>

                                        <div class="gap gap-small"></div>
                                    </div>

                                    <div class="col-md-6 col-md-offset-1">
                                        <div class="form-group ">
                                        </div>
                                        <div class="form-group ">
                                            <label>Country</label>
                                            <select th:field="*{country}" class="form-control" name="country" >
                                                <option th:each="country : ${countries}"
                                                        th:value="${country.id}"
                                                        th:text="${country.getCountryName()}"
                                                        th:selected="${profile.country.countryName}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group ">
                                        </div>

                                        <div class="form-group">
                                        </div>

                                    </div>
                                    <hr>

                                    <div class="col-md-12 col-md-offset-5">
                                        <button type="submit" class="btn btn-primary"><span
                                                th:text="#{Save_Changes}"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap"></div>


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/slimmenu.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/bootstrap-timepicker.js"></script>
    <script src="js/nicescroll.js"></script>
    <script src="js/dropit.js"></script>
    <script src="js/ionrangeslider.js"></script>
    <script src="js/icheck.js"></script>
    <script src="js/fotorama.js"></script>
    <script src="js/typeahead.js"></script>
    <script src="js/card-payment.js"></script>
    <script src="js/magnific.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/fitvids.js"></script>
    <script src="js/tweet.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/gridrotator.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/switcher.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</div>
</body>

</html>


<!-- Localized -->